{% extends model('component') %}

{% define config = {
    name: 'form-filters',
} %}

{% define data = {
    filters: required,
} %}

{% block separator %}
    <hr class="box__separator">
{% endblock %}

{% block body %}
    {% block filtersLayout %}
        <div class="form__fields grid grid--bottom">
            {% block filters %}
                {% for filter in data.filters %}
                    {% block filterLayout %}
                        <div class="form__field col {{ filter.class }}">
                            {% block filter %}
                                {{ form_row(filter.row, { attr: filter.attr | default({}) }) }}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}

    {{ block('separator') }}

    {% set submitButtonClass = 'button button--success' %}
    {% set submitButtonText = 'forms.apply-btn' | trans %}
    {% block submit %}
        <div class="form__fields grid grid--right">
            <div class="form__field col">
                <button class="{{ submitButtonClass }}" data-qa="submit-filters">{{ submitButtonText }}</button>
            </div>
        </div>
    {% endblock %}

    {{ block('separator') }}
{% endblock %}
